.foot-box {
    width: 100%;
    height: 91px;
    border-top:1px solid #cdcdcd;
    display: flex;
    justify-content: space-around;

    a {
        color: #222;
        width: 20%;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;

        i {
            margin-top: 5px;
            line-height: 45px;
            height: 45px;
            font-size: 40px;
        }

        span {
            line-height: 40px;
            height: 40px;
            font-size: 24px;
        }

        .hot {
            position: absolute;
            top: 4px;
            left: 60%;
            width: 35%;
            text-align: center;
        }
    }
}